body{
    border: 10px black;
    border-style: solid;
    background-color: blue;
    margin: 10px;
}

.box{
    height: 600px;
    display: grid;
    background-color: black;
    grid-template-areas: "menu-l titulo menu-r"
                         "menu-l conteudo menu-r"
                         "menu-l rodape menu-r";

    grid-auto-rows: 80px 1fr 90px;
    grid-template-columns: 200px 1fr 120px;
}

.titulo{
    background-color: red;
    grid-area: titulo;
}

.menu-r{
    background-color: aquamarine;
    grid-area: menu-r;
}

.menu-l{
    background-color: green;
    grid-area: menu-l;
}

.conteudo{
    background-color: yellow;
    grid-area: conteudo;
}

.rodape{
    background-color: gray;
    grid-area: rodape;
}