*{
    margin: 0;
}

#d1{
background-color: #4682B4;
height: 181.5px;
width: 1533px;
border: 2px solid black;
}

#d2{
background-color: hsl(217, 67%, 45%);
height: 181.5px;
width:1533px;
border: 2px solid black;

}

#d3{
background-color: rgb(135, 206, 235);
height: 181.5px;
width: 1533px;
border: 2px solid black;
}

#d4{
background-color: rgb(25, 25, 112, 0.5);
height: 181.5px;
width: 1533px;
border: 2px solid black;
}

#di1{
    background-color: #e44747;
    height: 50px ;
    width: 150px;
    margin: 6vh auto;
    border: 2px solid black;
    text-align: center;
    padding-top: 2%;
}

#di2{
    background-color: hsl(84, 81%, 76%);
    height: 50px;
    width: 150px;
    margin: 6vh auto;
    border: 2px solid black;
    text-align: center;
    padding-top: 2%;
}
#di3{
    background-color: rgb(127, 154, 224);
    height: 50px;
    width: 150px;
    margin: 6vh auto;
    border: 2px solid black;
    text-align: center;
    padding-top: 2%;
}
#di4{
    background-color: rgba(216, 86, 123, 0.5);
    height: 50px;
    width: 150px;
    margin: 6vh auto;
    border: 2px solid black;
    text-align: center;
    padding-top: 2%;
}
