body{
    background-color: yellow;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 2px black solid;
}

header > img{
    height: 150px;
    width: 150px;
}

header > nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 350px;
    padding-top: 65px;
    font-size: 25px;
}

header nav > a:link{
    text-decoration: none;
    color: darkblue;
}

header nav > a:hover{
    text-decoration: underline;
    color: red;
}

.main{
    display: flex;
    justify-content: space-between;
}

article section{
    flex: 4;
    background-color: green;
    border: 2px black solid;
    color: white;
    width: 85%;
    height: 350px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
}

article aside{
    flex: 1;
    background-color: red;
    border: 2px black solid;
    color: white;
    width: 15%;
    height: 350px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
}

footer{
    background-color: blue;
    border: 2px black solid;
    color: white;
    height: 123px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
}

input[type=text], select{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
}

input[type=number], select{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
}

input[type=password], select{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
}

table{
    border-collapse: collapse;
    width: 99.6%;
}

th, td{
    border: 2px white solid;
    padding: 13px;
}

.profissionais{
    background-color: orange;
    border: 2px black solid;
    width: 99.6%;
    gap: 2px;
    
}

.pessoais{
    background-color: red;
    border: 2px black solid;
    width: 99.6%;
}

.div2{
    width: 100%;
}
