*{
    margin: 0px;
}

body{
    background-color: pink;
}

.box{
    display: grid;
    grid-template-areas: 
    "t t "
    "c l"
    "r r ";
    grid-template-columns: 1fr 250px;
    grid-auto-rows: 175px 350px 125px;
    border: 7.5px black solid;
}

.header{
    grid-area: t;
    background-color: yellow;
    border: 2px black solid;
    text-align: center;
    padding-top: 75px;
    font-size: 25px;
}

.conteudo{
    grid-area: c;
    background-color: blue;
    border: 2px black solid;
    text-align: center;
}

.lateral{
    grid-area: l;
    background-color: red;
    border: 2px black solid;
    text-align: center;
}

.rodape{
    grid-area: r;
    display: flex;
    border: 2px black solid;
    text-align: center;
}

.p1, .p2, .p3{
    width: 33.33%;
    height: 100%;
    background-color: orange;
}

.p1{
    background-color: aqua;
}

.p2{
    background-color: brown;
}

.p3{
    background-color: greenyellow;
}

.c1, .c2, .c3{
    width: 100%;
    height: 33.33%;
    background-color: orange;
}

.c2{
    background-color: blue;
}